
{{ partial "header.html" . }}
<article id="main">
  <header {{ with .Params.image }}style="background-image: url('{{ . }}')"{{ end }}>
    <h2>{{ .Title }}</h2>
    {{ with .Params.subtitle }}
    <p>{{ . }}</p>
    {{ end }}
	</header>
  <body> 
    <!-- <section class="wrapper style5"> -->
      <!-- {{ .Content }} -->

    <!-- </section> -->
  </body>
	<section class="wrapper style5">
		<div class="inner">
      <div class="columns">
        <ul class="price">
          <li class="header" style="background-image: linear-gradient(to right top, #65fdd5, #00e4f6, #00c4ff, #009aff, #7e5cf9);">Basic</li>
          <li>Rychlý Start Online<br><div class="line-info">Získejte webovou přítomnost<br>rychle a efektivně<div></li>
          <li>Jednoduchá Správa Obsahu<br><div class="line-info">Snadné upravování<br>a aktualizace obsahu bez obtíží<div></li>
          <li>Responzivní Design<br><div class="line-info">Moderní a responzivní web<br>pro všechna zařízení<div></li>
          <li>do <b>3</b> podstránek</li>
          <li class="grey">
            <span class="sale">
            <s><b>5.000</b> Kč</s>
              <span class="save">Ušetřete 20%</span>
            </span>
              <br>
            <span class="nominal-price">od <b>4.000</b> Kč</span>
          </li>
        </ul>
      </div> 
      <div class="columns">
        <ul class="price">
          <li class="header" style="background-image: linear-gradient(to right top, #bc52a1, #f85d7f, #ff8852, #fcc12f, #c4f851);">Premium</li>
          <li>Vlastní Grafický Design<br><div class="line-info">Unikátní design<br>podle vaší firemní identity<div></li>
          <li>SEO Optimalizace<br><div class="line-info">Zvýšení viditelnosti na vyhledávačích<br>pro lepší dosah<div></li>
          <li>Rozšířená Funkcionalita<br><div class="line-info">Přidání formulářů, galerií<br>a dalších interaktivních prvků<div></li>
          <li>Bezpečnostní Záruka<br><div class="line-info">Základní zabezpečení webu<br>pro ochranu před hrozbami<div></li>
          <li>do <b>5</b> podstránek</li>
          <li class="grey">
            <span class="sale">
            <s><b>8.700</b> Kč</s>
              <span class="save">Ušetřete 25%</span>
            </span>
              <br>
            <span class="nominal-price">od <b>6.500</b> Kč</span>
          </li>
          {{/*  <li class="grey">od <b>6.500</b>,- Kč</li>  */}}
        </ul>
      </div> 
      <div class="columns">
        <ul class="price">
          <li class="header" style="background-image: linear-gradient(to right top, #f0fd65, #b1ff8f, #78ffbc, #51f7e2, #5cecf9);">Ultimate</li>
          <li>Exkluzivní VIP Podpora<br><div class="line-info">Prioritní<br>a rychlá podpora 24/7<div></li>
          <li>Profesionální Fotografie<br><div class="line-info">Oslnivé vizuální prvky<br>s profesionálními fotografiemi<div></li>
          <li>Pokročilá Analýza Návštěvnosti<br><div class="line-info">Komplexní sledování výkonu<br>a chování návštěvníků<div></li>
          <li>Unikátní Interaktivní Prvky<br><div class="line-info">Vytvoření speciálních prvků<br>pro maximální interaktivitu<div></li>
          <li>do <b>10</b> podstránek</li>
          <li class="grey">
            <span class="sale">
            <s><b>14.300</b> Kč</s>
              <span class="save">Ušetřete 30%</span>
            </span>
              <br>
            <span class="nominal-price">od <b>10.000</b> Kč</span>
          </li>
          {{/*  <li class="grey">od <b>10.000</b>,- Kč</li>  */}}
        </ul>
      </div> 
    {{ .Content }}
		</div>
	</section>
</article>
{{ partial "footer.html" . }}
